<mat-card class="data-card">
    <mat-card-title>Información Recibida</mat-card-title>
    <mat-card-content>
        <p><strong>Nombres:</strong> {{ usuario.nombre }}</p>
        <p><strong>Apellidos:</strong> {{ usuario.apellido }}</p>
        <p><strong>Edad:</strong> {{ usuario.edad }}</p>
        <p><strong>Correo:</strong> {{ usuario.correo }}</p>
        <p><strong>Password:</strong> {{ usuario.contra }}</p>
        <p><strong>Confirmar Password:</strong> {{ usuario.contra2 }}</p>
    </mat-card-content>
</mat-card>